.listCotent {
    flex: 1 0 280px;
}

.toolbar {
    position: absolute;
    width: calc(100% - 30px);
    height: 60px;
    top: 0;
    left: 0;
    text-align: right;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.toolbar i {
    font-size: 18px;
}

.refreshBadge span {
    width: 20px;
    height: 20px;
    font-size: 9px;
    top: -8px;
    right: -15px;
}

.refreshBadge img {
    width: 30px;
    height: 30px;
}

.hideNumber span {
    display: none;
}

.list {
    background: #f9f9f9;
    width: 100%;
    height: 100%;
    color: #000;
    padding: 50px 0 0 0;
}

.collection {
    display: block;
    width: 100%;
    height: calc(100% - 50px);
    font-size: 12px;
}

.collection p {
    font-size: 12px;
}

.collectionItem {
    margin: 0;
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.collectionTitle {
    font-size: 15px;
}

.collectionSummary {
    font-size: 13px;
    color: #9a9a9a;
    padding: 10px 0;
}

.fromNow {
    color: #9a9a9a;
    text-align: right;
    padding: 5px 20px 10px 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;

}

.loadmore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
}
.loading{
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
  background: #f9f9f9;
  z-index: 1000;
  top:60px;
  left:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading.hide{
  display: none;
}